@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@400;500&display=swap");
* {
    font-family: "Nunito";
}

.lilshadow {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
}

.playerhome {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
    background-color: rgb(36, 35, 35);
}

.cardfeed {
    width: 30em;
    height: 300px;
    margin: auto;
    border: 2px solid green !important;
}

.fotoperfilfeed {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: white;
}

body {
    margin: 0;
}

.cardfriend {
    width: 12rem;
}

.fa-user-circle {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 700px;
}

.dropdown-menu {
    margin-left: 600px;
}

.navfeed:hover,
.navfriends:hover,
.navchats:hover {
    text-decoration: underline red 2px !important;
}

.fa-podcast {
    font-size: 24px !important;
}

.fa-spotify1 {
    font-size: 30px !important;
    color: white !important;
    margin-left: 10px;
}

.msgBox {
    outline: none !important;
    border: 2.5px solid white !important;
}

.bubble {
    border: 3px solid rgb(18, 121, 35);
    border-radius: 20px;
    padding: 10px !important;
    padding-left: 20px !important;
    background-color: rgb(28, 87, 28);
}


.dropdown-toggle:hover {
    background-color: #28a744 !important;
    outline: none;
    border: none;
}

#profileAvatar {
    border-radius: 50%;
    width: 25%;
}

#postAvatar {
  width: 12%;
}

#feedAvatar {
    border-radius: 50%;
    width: 100%;
}

#modalAvatar {
    border-radius: 50%;
    width: 75%;
}

#containerNotFound {
    margin-bottom: 335px;
}

#friendAvatar {
    border-radius: 50%;
    width: 25%;
}

.friendBar {
    font-size: 20px !important;
}