.play{
  width: 300px;
  height: 500px;
  margin-top: 20px;
  background-color: green;
}

.cardfeed{
  width: 800px;
  height: 300px;
  margin: auto;
  border:2px solid green !important;
}

.imputfeed{
  width: 370px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid green !important;
}

.photoprofile{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: white;
}

.cardprofile{
  width: 500px;
  height: 400px;
  margin-top: 30px;
  border: 2px solid green !important;
}

.list-group-item-profile{
  border-bottom: 2px solid green !important;
}



.cardfriend {
  width: 12rem;
}

.list-group {
  height: 525px;
}

.fa-user-circle {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-left: 700px;
}

.dropdown-menu {
  margin-left: 600px;
}

.cardlogin{
  border-radius: 25px;
  border: 2px solid green !important;
}

.imglogin{
  border-radius: 25px;
}

.card-body-login{
  margin-left: 90px;
}

.inputlogin{
  border: 1px solid green !important;
  border-radius: 4px;
  color: green;
}

.inputlogin::placeholder{
  text-align: start;
  padding-left: 20px;
  color: rgb(81, 212, 151);
}

.btnlogin{
  border-radius: 6px !important;
}
