body {
  margin: 0;
}


.card {
  width: 12rem;
}

.list-group {
  height: 525px;
}

.fa-user-circle {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-left: 700px;
}

.dropdown-menu {
  margin-left: 600px;
}

#login {
  margin-left: 600px !important;
}

.navfeed:hover, .navfriends:hover, .navchats:hover {
  text-decoration: underline red 2px !important;
}

.fa-podcast {
  font-size: 24px !important;
}

.fa-spotify {
  font-size: 30px !important;
  color: white !important;
  margin-left: 10px;
}

.msgBox {
  outline: none !important;
  border: 2.5px solid white !important;
}

.bubble {
  border: 3px solid rgb(18, 121, 35);
  border-radius: 20px;
  padding: 10px !important;
  padding-left: 20px !important;
  background-color: rgb(28, 87, 28);
}